@{
    ViewBag.Title = "About";
    Layout = "~/Views/shared/_BootstrapLayout.basic.cshtml";
}


<div class="container-fluid">
    <div class="row-fluid" style="margin-top: 30px;">
        <div class="span3">
            <div>
                <aside style="float: left;">
                    <img src="~/Content/images/SF ACM.jpeg" width="180" height="180" />
                    <article style="padding: 10px;">
                        
                    </article>
                </aside>
            </div>
            <!--/.well -->
        </div>

        <div class="span9">
            <h1>About</h1>
        </div>
        <div class="span5" style="margin: 20px;">
            <p>I'm a student at Washington State University. In December 2013 I'll be graduating with a B.S. in Computer Science and minors in Math and MIS. After graduation I'm looking to spend some time traveling Southeast Asia before joining a startup or small company in the Seattle area.</p>
            <p>Aside from building software I like reading, fishing, snowboarding, watching movies, German cars, sports, damn near any music that hits my ears and the company of my border collie Belle.</p>

            <p></p>
        </div>

    </div>
</div>

