@{
    ViewBag.Title = "About";
    Layout = "~/Views/shared/_BootstrapLayout.basic.cshtml";
}

<div class="hero-unit">
    <h1>Griffin Fujioka</h1>
    <p>I'm a student at Washington State University. In December 2013 I'll be graduating with a B.S. in Computer Science and minors in Math and MIS. After graduation I'm looking to spend some time traveling Southeast Asia before joining a startup or small company in the Seattle area.</p>
    <p>Aside from building software I like reading, fishing, snowboarding, watching movies, German cars, sports, damn near any music that hits my ears and the company of my border collie Belle.</p>


            
</div>