@model dynamic

@{
    ViewBag.Title = "Griffin Fujioka";
    Layout = "~/Views/shared/_BootstrapLayout.basic.cshtml";
}


<body>
    @RenderBody()
</body>

<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
    <h1>Griffin Fujioka</h1>
    <br />
    <p>I am a software developer finishing up my degree at Washington State University. I'll be graduating in December 2013 with a B.S. in Computer Science and minors in Math and MIS. </p>



</div>

<!-- Example row of columns -->
<div class="row">
    <div class="span4">
        <div style="min-height: 150px;">
            <h2>About</h2>
            <p>After graduation I'm looking to spend some time traveling Southeast Asia before joining a startup or small company in the Seattle area. </p>
        </div>

        <div>
            <p><a class="btn" href="~/examplelayouts/about">About &raquo;</a></p>
        </div>

    </div>


    <div class="span4">
        <div style="min-height: 150px;">
            <h2>Portfolio</h2>
            <p>I've released a number of apps for Windows Phone and Windows 8 and mobile development remains my main focus. Please bear with me as I try my hand at web development!</p>
        </div>

        <div>
            <p><a class="btn" href="~/examplelayouts/portfolio">Portfolio &raquo;</a></p>
        </div>

    </div>
    <div class="span4">
        <div style="min-height: 150px;">
            <h2>Contact</h2>
            <p>I love to meet like-minded people. Contact me for collaborations, questions, or just to say hi! </p>
        </div>

        <div>
            <p><a class="btn" href="#">Contact me &raquo;</a></p>
        </div>

    </div>
</div>
