@model dynamic

@{
    ViewBag.Title = "Griffin Fujioka";
    Layout = "~/Views/shared/_BootstrapLayout.basic.cshtml";
}


<body>
    @RenderBody()
</body>

<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
    <h1>Griffin Fujioka</h1>
    <br />
    <p>Software Engineer | Seattle </p>



</div>

<!-- Example row of columns -->
<div class="row-fluid">
    <div class="span4">
        <div style="min-height: 150px;">
            <h2>About</h2>
            <p>Software Engineer originally from the Seattle area.</p>
        </div>

        <div>
            <p><a class="btn" href="~/examplelayouts/about">About &raquo;</a></p>
        </div>

    </div>


    <div class="span4">
        <div style="min-height: 150px;">
            <h2>Professional Portfolio</h2>
            <p>During college I released a number of apps for Windows Phone and Windows 8. While I remain passionate about mobile software, my recent work has involved more server-side code.</p>
        </div>

        <div>
            <p><a class="btn" href="~/examplelayouts/portfolio">Portfolio &raquo;</a></p>
        </div>

    </div>
    <div class="span4">
        <div style="min-height: 150px;">
            <h2>Contact</h2>
            <p>Say whaddup! </p>
        </div>

        <div>
            <p><a class="btn" href="~/examplelayouts/contact">Contact me &raquo;</a></p>
        </div>

    </div>
</div>
