

@{
    ViewBag.Title = "Portfolio";
    Layout = "~/Views/shared/_BootstrapLayout.basic.cshtml";
}


<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3">
            <div class="well sidebar-nav">
                <ul class="nav nav-list">
                    <li class="nav-header">Windows 8 apps</li>
                    @* <li class="active"><a href="#">Link</a></li>*@
                    <li><a href="#Archive">Archive</a></li>
                    <li><a href="#tweetMaps">tweetMaps</a></li>
                    <li><a href="#ChristmasCountdown">Christmas Countdown</a></li>
                    <li><a href="#CustomCountdown">Custom Countdown</a></li>
                    <li><a href="#CougarFootball">WSU Cougar Football</a></li>
                    <li><a href="#">Design Patterns</a></li>
                    <li><a href="#">EZ Base Converter</a></li>
                    <li><a href="#">Graduation Countdown</a></li>
                    <li class="nav-header">Windows Phone apps</li>
                    <li><a href="#">Ideas</a></li>
                    <li><a href="#">Wish List</a></li>
                    <li><a href="#">Caffeine Calculator</a></li>
                </ul>
            </div>
            <!--/.well -->
        </div>
        <!--/span-->
        <div class="span9">
            <div>
                <h1>Portfolio</h1>
                <br />
                <p style="text-decoration:none;">I've released a number of apps for Windows Phone and Windows 8 and mobile development remains my main focus. Please bear with me as I try my hand at web development! Most of the artwork for these apps was provided by my good friend <a href="http://heyduckd.wix.com/heyduckcollection" style="text-decoration:none;">David Heyduck.</a></p>
            </div>

            <div>
                <h3>Windows 8 apps</h3>
            </div>

            <!-- row 1 -->
            <div class="row-fluid">
                <div class="span3">
                    
                    <h5>Archive</h5>
                    <div class="imgWrap">
                        <img id="Archive" src="~/Content/images/app images/Archive.png" width="300" height="278" />
                        <div class="popover bottom descriptionPopover">
                            <div class="arrow"></div>
                            <h3 style="background-color: white;" class="popover-title"><b>Archive</b></h3>
                            <div class="popover-content">
                                <p>Archive is a video-blogging service built for the WSU EECS Senior Design Project. The project entailed building a custom JSON-based REST API and client applications across iOS, Android, Windows 8 and web. The project placed 3rd at the WSU EECS Senior Design Banquet in Spring 2013. </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="span3">
                    <h5>tweetMaps</h5>
                    <div class="imgWrap">

                        <a href="http://apps.microsoft.com/windows/en-US/app/tweetmaps/b451ab38-7019-4510-93bb-4121a2058802"><img id="tweetMaps" src="~/Content/images/app images/tweetMaps.png" width="300" height="278" alt="oops" /></a>

                        <div class="popover bottom descriptionPopover">
                            <div class="arrow"></div>
                            <h3 style="background-color: white;" class="popover-title"><b>tweetMaps</b></h3>
                            <div class="popover-content">
                                <p>tweetMaps is a Windows 8 Twitter client that's integrated with the Bing Maps API. The application allows users to view tweets and trending topics based on geographic location, which we believe to be an interesting way of harnessing Twitter data. I worked on the project with two friends, Matt Hintzke and David Heyduck, and we created the application for a hackathon put on by our university's ACM chapter. tweetMaps was published to the Windows Store on January 15th, 2013. For more information on tweetMaps, check us out on Facebook or Twitter.</p>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="span3">
                    <h5>Christmas Countdown</h5>
                    <div class="imgWrap">
                        <img id="ChristmasCountdown" src="~/Content/images/app images/ChristmasCountdown.png" width="300" height="278" />

                        <div class="popover bottom descriptionPopover">
                            <div class="arrow"></div>
                            <h3 style="background-color: white;" class="popover-title"><b>Christmas Countdown</b></h3>
                            <div class="popover-content">
                                <p>
                                    Christmas Countdown is a Windows 8 application that counts down the days, minutes, hours and seconds until Christmas while snow falls in the background.
                                    <br />
                                    Christmas Countdown was published in September 2012, before Windows 8 was released and just in time for the holiday season. Due to the timely release it experienced some success and was briefly featured as a top 100 app amongst entertainment apps. Artwork done by David Heyduck.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- row 2 -->
            <div class="row-fluid">
                <div class="span3">
                    <h5>Custom Countdown</h5>
                    <div class="imgWrap">
                        
                        
                        <img id="CustomCountdown" src="~/Content/images/app images/CustomCountdown.png" width="300" height="278" />
                        
                        <div class="popover bottom descriptionPopover">
                            <div class="arrow"></div>
                            <h3 style="background-color: white;" class="popover-title"><b>Christmas Countdown</b></h3>
                            <div class="popover-content">
                                <p>
                                    Christmas Countdown is a Windows 8 application that counts down the days, minutes, hours and seconds until Christmas while snow falls in the background.
                                    <br />
                                    Christmas Countdown was published in September 2012, before Windows 8 was released and just in time for the holiday season. Due to the timely release it experienced some success and was briefly featured as a top 100 app amongst entertainment apps. Artwork done by David Heyduck.
                                </p>
                            </div>
                        </div>


                    </div>
                </div>


                <div class="span3">
                    <h5>WSU Cougar Football</h5>
                    <div class="imgWrap">
                        <img id="CougarFootball" src="~/Content/images/app images/CougarFootball.png" width="300" height="278" />

                         <div class="popover bottom descriptionPopover">
                            <div class="arrow"></div>
                            <h3 style="background-color: white;" class="popover-title"><b>Christmas Countdown</b></h3>
                            <div class="popover-content">
                                <p>
                                    Christmas Countdown is a Windows 8 application that counts down the days, minutes, hours and seconds until Christmas while snow falls in the background.
                                    <br />
                                    Christmas Countdown was published in September 2012, before Windows 8 was released and just in time for the holiday season. Due to the timely release it experienced some success and was briefly featured as a top 100 app amongst entertainment apps. Artwork done by David Heyduck.
                                </p>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="span3">
                    <h5>Design Patterns</h5>
                    <div class="imgWrap">
                        <img id="DesignPatterns" src="~/Content/images/app images/DesignPatterns.png" width="300" height="278" />

                        <div class="popover top descriptionPopover">
                            <div class="arrow"></div>
                            <h3 style="background-color: white;" class="popover-title"><b>Christmas Countdown</b></h3>
                            <div class="popover-content">
                                <p>
                                    Christmas Countdown is a Windows 8 application that counts down the days, minutes, hours and seconds until Christmas while snow falls in the background.
                                    <br />
                                    Christmas Countdown was published in September 2012, before Windows 8 was released and just in time for the holiday season. Due to the timely release it experienced some success and was briefly featured as a top 100 app amongst entertainment apps. Artwork done by David Heyduck.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end of row 2 -->

            <!-- row 3 -->
            <div class="row-fluid">
                <div class="span3">
                    <h5>EZ Base Converter</h5>
                    <div class="imgWrap">
                        <img id="EZBaseConverter" src="~/Content/images/app images/EZBaseConverter.png" width="300" height="278" />

                        <div class="popover top descriptionPopover">
                            <div class="arrow"></div>
                            <h3 style="background-color: white;" class="popover-title"><b>EZ Base Converter</b></h3>
                            <div class="popover-content">
                                <p>
                                    Christmas Countdown is a Windows 8 application that counts down the days, minutes, hours and seconds until Christmas while snow falls in the background.
                                    <br />
                                    Christmas Countdown was published in September 2012, before Windows 8 was released and just in time for the holiday season. Due to the timely release it experienced some success and was briefly featured as a top 100 app amongst entertainment apps. Artwork done by David Heyduck.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="span3">
                    <h5>Graduation Countdown</h5>
                    <div class="imgWrap">
                        <img id="GraduationCountdown" src="~/Content/images/app images/GraduationCountdown.png" width="300" height="278" />

                        <div class="popover top descriptionPopover">
                            <div class="arrow"></div>
                            <h3 style="background-color: white;" class="popover-title"><b>Graduation Countdown</b></h3>
                            <div class="popover-content">
                                <p>
                                    Christmas Countdown is a Windows 8 application that counts down the days, minutes, hours and seconds until Christmas while snow falls in the background.
                                    <br />
                                    Christmas Countdown was published in September 2012, before Windows 8 was released and just in time for the holiday season. Due to the timely release it experienced some success and was briefly featured as a top 100 app amongst entertainment apps. Artwork done by David Heyduck.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end of row 3 -->

            <div>
                <h3>Windows Phone apps</h3>
            </div>

            <!-- row 4 -->
            <div class="row-fluid">
                <div class="span3">
                    <h5>Ideas</h5>
                    <div class="imgWrap">
                        <img id="Ideas" src="~/Content/images/app images/Ideas.png" width="300" height="278" />

                        <div class="popover top descriptionPopover">
                            <div class="arrow"></div>
                            <h3 style="background-color: white;" class="popover-title"><b>Ideas</b></h3>
                            <div class="popover-content">
                                <p>
                                    Christmas Countdown is a Windows 8 application that counts down the days, minutes, hours and seconds until Christmas while snow falls in the background.
                                    <br />
                                    Christmas Countdown was published in September 2012, before Windows 8 was released and just in time for the holiday season. Due to the timely release it experienced some success and was briefly featured as a top 100 app amongst entertainment apps. Artwork done by David Heyduck.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="span3">
                    <h5>Caffeine Calculator</h5>
                    <div class="imgWrap">
                        <img id="CaffeineCalculator" src="~/Content/images/app images/CaffeineCalculator.png" width="300" height="278" />

                        <div class="popover top descriptionPopover">
                            <div class="arrow"></div>
                            <h3 style="background-color: white;" class="popover-title"><b>Ideas</b></h3>
                            <div class="popover-content">
                                <p>
                                    Christmas Countdown is a Windows 8 application that counts down the days, minutes, hours and seconds until Christmas while snow falls in the background.
                                    <br />
                                    Christmas Countdown was published in September 2012, before Windows 8 was released and just in time for the holiday season. Due to the timely release it experienced some success and was briefly featured as a top 100 app amongst entertainment apps. Artwork done by David Heyduck.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
