@{
    ViewBag.Title = "Portfolio";
    Layout = "~/Views/ExampleLayouts/Fluid.cshtml";
}


<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3">
            <div class="well sidebar-nav">
                <ul class="nav nav-list">
                    <li class="nav-header">Windows 8 apps</li>
                    @* <li class="active"><a href="#">Link</a></li>*@
                    <li><a href="#tweetMaps">tweetMaps</a></li>
                    <li><a href="#ChristmasCountdown">Christmas Countdown</a></li>
                    <li><a href="#">Custom Countdown</a></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                    <li class="nav-header">Windows Phone apps</li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                </ul>
            </div>
            <!--/.well -->
        </div>
        <!--/span-->
        <div class="span9">
            <div class="hero-unit">
                <h1>Portfolio</h1>
                <br />
                <p>I've released a number of apps for Windows Phone and Windows 8 and mobile development remains my main focus. Please bear with me as I try my hand at web development!</p>
            </div>

            <!-- row 1 -->
            <div class="row-fluid">
                <div class="span3">
                    <h5>tweetMaps</h5>
                    <div class="imgWrap">
                        
                        <img id="tweetMaps" src="~/Content/images/app images/tweetMaps.png" width="300" height="278" alt="oops" />
                        <div class="showDescription">
                            <p>tweetMaps </p>
                        </div>
                    </div>
                </div>

                <div class="span3">
                    <h5>Christmas Countdown</h5>
                    <div class="imgWrap">
                        <img id="ChristmasCountdown" src="~/Content/images/app images/ChristmasCountdown.png" width="300" height="278" />

                        <div class="showDescription">
                            <p>Christmas Countdown </p>
                        </div>
                    </div>
                </div>

                <div class="span3">
                    <h5>Custom Countdown</h5>
                    <div class="imgWrap">
                        <img src="~/Content/images/app images/CustomCountdown.png" width="300" height="278" />

                        <div class="showDescription">
                            <p>Custom Countdown  </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row-fluid">
                <div class="span3">
                    <h4>tweetMaps</h4>
                    <div class="ex1">
                        <img src="~/Content/images/tweetMaps.png" width="300" height="278" alt="polaroid" />
                    </div>
                </div>

                <div class="span3">
                    <h6>Christmas Countdown</h6>
                    <div class="ex1">
                        <img src="~/Content/images/tweetMaps.png" width="300" height="278" />
                    </div>
                </div>

                <div class="span3">
                    <h7>tweetMaps</h7>
                    <div class="ex1">
                        <img src="~/Content/images/tweetMaps.png" width="300" height="278" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
