@{
    ViewBag.Title = "Resume";
    Layout = "~/Views/shared/_BootstrapLayout.basic.cshtml";
}
<div class="container-fluid">
    

    <form id="form1" runat="server"> <div style="width:99%;height:99%;border:1px solid green;"> <iframe id="frame1" runat="server" scrolling="auto" frameborder="0" marginheight="0" marginwidth="0" src="~/Content/resume.pdf" style="height:99.5%;width:99.5%;border:1px solid yellow;"></iframe>> </div> </form>
</div>
