body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.imgWrap {
    position: relative;
}

.imageTransition {
    transition-duration: 0.5s;          /* W3C */  
    -webkit-transition-duration: 0.5s;  /* Google Chrome/Safari Support */
    overflow: hidden;
    height: 0px;
}

.imgWrap:hover .imageTransition {
    height:115px;
}


.showDescription {
    transform-origin: top;              /* W3C */
    transition-duration: 0.5s;          /* W3C */  
    transform-origin:left;
    -webkit-transform-origin: top;      /* Google Chrome/Safari Support */
    -webkit-transition-duration: 0.5s;  /* Google Chrome/Safari Support */
     -moz-transform-origin: top;         /* Mozilla Firefox Support */
     -moz-transition-duration: 0.5s;     /* Mozilla Firefox Support */
     -o-transform-origin: top;           /* Opera Support */
     -o-transition-duration: 0.5s;       /* Opera Support */
     
     font-size: 16px;
     font-family: 'MyriadPro-Light', Arial;     
     font-weight: normal;
     color: #FFF;  
     visibility:hidden;
     position:relative;
     

     padding:10px;
    float:right;
}


.imgWrap:hover .showDescription {
    background: rgba(160, 0, 0, 0.0);
    color: #000;
    min-height:115px;
    max-height:250px;
    min-width:280px;
    max-width:400px;
height: auto;
width:auto;
transform: rotateX(0deg);           /* W3C */  
-webkit-transform: rotateX(0deg);   /* Google Chrome/Safari Support */
visibility:visible;
    padding:10px;
    float:right;


}
.imgWrap .span5 {
    height:10px;
    max-height:250px;
    visibility:collapse;
}
.imgWrap:hover .span5 {
    background: rgba(160, 0, 0, 0.0);
    color: #000;
transform: rotateX(0deg);           /* W3C */  
-webkit-transform: rotateX(0deg);   /* Google Chrome/Safari Support */
visibility:visible;
    padding:10px;
    float:right;
    max-height:300px;
    height: 300px;
    min-width:200px;
    width:400px;
    max-width:500px;
    float:right;

}

.imgWrap .popover {
     background: rgba(0, 0, 0, 1.0);
    color: #000;
    padding:10px;
    float:right;
    max-height:400px;
    min-width:500px;
    max-width:1000px;
    visibility:collapse;
    
}

.imgWrap:hover .popover {
    transition-delay:.5s;
    position:absolute; 
    visibility:visible;
    background: rgba(255, 255, 255, 1.0);
    color: #000;
    padding:10px;
    float:right;
    max-height:400px;
    min-width:500px;
    max-width:1000px;
}


.imgWrap img {
    border-style:none;
    float: left;
    margin: 5px;
    -webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -o-transition: margin 0.5s ease-out;
    position: relative;
}

    .imgWrap img:hover {
        -webkit-transition: margin 0.5s ease-out;
        margin-bottom: 4px;
        opacity:0.4;
        -webkit-transition: margin 0.5s ease-out;
        position:relative;
    }



.popover.descriptionPopover {
    display: block
}