body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.imgWrap {
    position: relative;
}

.imageTransition {
    transition-duration: 0.5s;          /* W3C */  
    -webkit-transition-duration: 0.5s;  /* Google Chrome/Safari Support */
    overflow: hidden;
    height: 0px;
}

.imgWrap:hover .imageTransition {
    height:115px;
}

.appName {
    font-size: 16px;
     font-family: 'MyriadPro-Light', Arial;     
     font-weight:normal;
     color: #FFF;  
     visibility:hidden;
     position:relative;

     padding:10px;
    float:right;
}

.imgWrap:hover .appName {
    visibility:visible;
}

.showDescription {
    transform-origin: top;              /* W3C */
    transition-duration: 0.5s;          /* W3C */  
    -webkit-transform-origin: top;      /* Google Chrome/Safari Support */
    -webkit-transition-duration: 0.5s;  /* Google Chrome/Safari Support */
     -moz-transform-origin: top;         /* Mozilla Firefox Support */
     -moz-transition-duration: 0.5s;     /* Mozilla Firefox Support */
     -o-transform-origin: top;           /* Opera Support */
     -o-transition-duration: 0.5s;       /* Opera Support */
     
     font-size: 16px;
     font-family: 'MyriadPro-Light', Arial;     
     font-weight: normal;
     color: #FFF;  
     visibility:hidden;
     position:relative;
     

     padding:10px;
    float:right;
}


.imgWrap:hover .showDescription {
    background: rgba(160, 0, 0, 0.0);
    color: #000;
    
height: 115px;
width:270px;
transform: rotateX(0deg);           /* W3C */  
-webkit-transform: rotateX(0deg);   /* Google Chrome/Safari Support */
visibility:visible;
    padding:10px;
    float:right;


}


.imgWrap img {
    border: 5px solid #ccc;
    float: left;
    margin: 5px;
    -webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -o-transition: margin 0.5s ease-out;
    position: relative;
}

    .imgWrap img:hover {
        margin-top: 2px;
        opacity:0.4;
    }
